
/* Define a custom web font */
@font-face {
  font-family: 'GT-Sectra-Medium';
  src: url('../assets/Fonts/GT-Sectra-Medium/GT-Sectra-Medium.eot') format('eot'), 
    url('../assets/Fonts/GT-Sectra-Medium/GT-Sectra-Medium.woff') format('woff'), 
    url('../assets/Fonts/GT-Sectra-Medium/GT-Sectra-Medium.ttf')  format('truetype');
}
@font-face {
  font-family: 'GT-Walsheim-Thin';
  src: url('../assets/Fonts/GT-Walsheim-Thin/GT-Walsheim-Thin.eot') format('eot'), 
    url('../assets/Fonts/GT-Walsheim-Thin/GT-Walsheim-Thin.woff') format('woff'), 
    url('../assets/Fonts/GT-Walsheim-Thin/GT-Walsheim-Thin.ttf')  format('truetype');
}
@font-face {
  font-family: 'GT-Walsheim-Regular';
  src: url('../assets/Fonts/GT-Walsheim-Regular/GT-Walsheim-Regular.eot') format('eot'), 
    url('../assets/Fonts/GT-Walsheim-Regular/GT-Walsheim-Regular.woff') format('woff'), 
    url('../assets/Fonts/GT-Walsheim-Regular/GT-Walsheim-Regular.ttf')  format('truetype');
}

