body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
.flexcontainer {
  height:100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
	align-items: center;
}

.centerdiv {
}

#modeldiv {
	width: 900px;
	height: 550px;
	position: relative;
  margin-top: 0px;
}


#svg {
	width: 900px;
	height: 550px;
}

g text {
  font-family: 'Lato', sans-serif !important;
}

g text * {
  font-family: 'Lato', sans-serif !important;
}

#scores {
	position: absolute;
	left: -48px;
	top: -2px;
}

.score {
  font-family: 'GT-Walsheim-Regular', Arial, sans-serif;
	color: white;
}


#yearly_admissions {
	position: absolute;
	left: 310px;
	top: 76px;
	font-weight: bold;
	font-size: 1.6em;
	text-align: center;
	width: 80px;
}

#average_los {
	position: absolute;
	left: 608px;
	width: 80px;
	top: 76px;
	font-weight: bold;
	font-size: 1.6em;
	text-align: center;
}

#average_daily_population {
	width: 80px;
	position: absolute;
	left: 460px;
	top: 76px;
	font-weight: bold;
	font-size: 1.6em;
	text-align: center;
}


#budget {
	width: 80px;
	position: absolute;
	left: 755px;
	top: 81px;
	font-weight: bold;
	font-size: 0.95em;
	text-align: center;
}



#budget:before {
    content: "$"
}


#scores .score {
	display: inline;
}


.step {
  position: absolute;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
	bordeR: 2px solid green;
	left: 20px;
  width: 20px;
    height: 20px;
}

#Buttons rect {
	cursor: pointer;
}
#title_header {
  position: fixed;
  background-color: white;
  width: 100%;
	padding: 20px 5px;
  text-align: center;
  margin: 0;
}

.whole_title {
	font-size: 1.8em;
  font-family: 'GT-Sectra-Medium', Arial, sans-serif;
	color: #EF4134;
  margin-bottom: 10px;
}

.policy_cards_title {
  margin-left: 66vw;
  text-align: left;
}



#title_header {
  font-family: 'GT-Sectra-Medium', Arial, sans-serif;
	font-size: 1.2em;
}

#graphcontainer {
	text-align: center;
	background-color: white;
}

#cardscontainer {
  overflow: auto;
  height: 100vh;
}
#cards {
	padding-bottom: 300px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 120px;
}

#hoverstuff {
	z-index: 1000;
}

#cards_header {
  margin-top: 60px;
  text-decoration: underline;
}

.card {
  background-color: lightgray;
  width: 150px;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  word-wrap: break-word;
	border-radius: 5px;
	cursor: pointer;
}

.card.cardPlayed {
	opacity: 0.3;
	cursor: not-allowed;
	border: 5px solid red;
	margin: 5px;
}

.card .cost {
	font-size: 0.9em;
  font-family: Arial;
	font-weight: bold;
	margin-bottom: 4px;
	display: block;

}

.card .title {
  font-family: 'GT-Sectra-Medium', Arial, sans-serif;
	display: block;
	padding: 5px;
	color: white;
	background-color: #EF4134;
	border-radius: 5px;
	margin-bottom: 4px;
}

.card .short_description {
  font-family: 'GT-Walsheim-Regular', Arial, sans-serif;
	font-size: 0.8em;
}

.card_long_description {
  font-family: 'GT-Walsheim-Regular', Arial, sans-serif;
	font-size: 0.9em;
	position: absolute;
	top: 0px;
	width: 300px;
	padding: 20px;
	border: 5px solid #EF4134;
	border-radius: 10px;
	background-color: white;
	display: none;
	opacity: 0.9;
}

.card_long_description .keyimg {
	width: 100px;
	float: left;
	margin-right: 10px;
}
.card_long_description.hovering { 
	display: block;
}

.glossary {
  font-family: 'GT-Walsheim-Regular', Arial, sans-serif;
	font-size: 0.9em;
	position: absolute;
	top: 0px;
	width: 300px;
	padding: 20px;
	border: 5px solid #EF4134;
	border-radius: 10px;
	background-color: white;
	display: none;
	opacity: 0.9;
}

.glossary .term {
	color: #EF4134;
	font-weight: bold;
	font-size: 1.2em;
}

.glossary .def {
	margin: 9px 0px
}

.glossary .stat {
	font-size: 0.9em;
}

.glossary.hovering { 
	display: block;
}

#splashscreen {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
  /*display: none;*/
}

#splashback {
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0.8;
	position: absolute;
}

.splashimage {
	border: 5px solid #EF4134;
	border-radius: 5px;
	z-index: 1000;
	display: block;
	width: 70%;
	margin: auto;
  position: absolute;
}
